label {
    float: left;
    width: 11em;
    text-align: right;
}

input {
    margin-bottom: 1em;
    width: 11em;
}

input[value="Confirm"] {
    margin-top: 1em;
}

h4 {
    text-align: left;
}

span {
    float: right;
    margin-left: 1em;
    width: 11em;
}

fieldset {
    width: fit-content;
    margin: auto;
    border-color: var(--h1_color);
}