:root {
    --purple: #FF00FF;
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
    --blue: #0000FF;
    --red: #FF0000;
}

body {
    background: var(--body_bg);
    color: var(--body_color);
    font-family: helvetica;
}

img {
    filter: var(--img_filter);
}

h1 {
    color: var(--h1_color);
}

h4 {
    color: var(--h4_color);
}

#main {
    text-align: center;
    width: fit-content;
    margin: auto;
}

@counter-style hex {
    system: alphabetic;
    symbols: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9' 'A' 'B' 'C' 'D' 'E' 'F';
    prefix: 'Lab ';
    suffix: '  -  ';
}

ol {
    padding-left: 5em;
    list-style-type: hex;
    font-family: helvetica;
    text-align: center;
    margin: auto;
    width: 18em;
}

ul {
    list-style: '└───  ';
    position: relative;
    left: -2.5em;
}

li {
    font-size: larger;
    text-align: left;
}

li::marker {
    font-family: auto;
}

a {
    color: var(--a_color);
}

a:hover {
    text-decoration: none;
}

.list {
    list-style: square;
}

.btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--button_color);
    background-color: var(--button_bg);
}

.light-theme {
    --body_bg: var(--green);
    --body_color: var(--black);
    --button_bg: var(--black);
    --button_color: var(--white);
    --h1_color: var(--blue);
    --h4_color: var(--red);
    --a_color: var(--body_color);
    --img_filter: none;
}

.dark-theme {
    --body_bg: var(--black);
    --body_color: var(--green);
    --button_bg: var(--white);
    --button_color: var(--black);
    --h1_color: var(--blue);
    --h4_color: var(--purple);
    --a_color: var(--body_color);
    --img_filter: invert();
}