:root {
    --purple: #FF00FF;
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
    --blue: #0000FF;
    --red: #FF0000;
}

body {
    background: var(--body_bg);
    color: var(--body_color);
    font-family: helvetica;
    font-size: larger;
}

#logo {
    background-image: url("https://t3.ftcdn.net/jpg/05/35/11/72/240_F_535117233_Idp0T87UpxQkSmFfYInpB4nkW5NmL4Kf.jpg");
    background-position: 50% 50%;
    filter: var(--img_filter);
    height: 150px;
    width: 120px;
    margin: auto;
}

h1 {
    color: var(--h1_color);
}

h4 {
    color: var(--h4_color);
}

span {
    color: var(--span_color);
}

#main {
    text-align: center;
    width: max-content;
    margin: auto;
    padding: 1em;
    /* outline: 1px solid white; */
}

@counter-style hex {
    system: alphabetic;
    symbols: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9' 'A' 'B' 'C' 'D' 'E' 'F';
    prefix: 'Lab ';
    suffix: ' - |';
}

ol {
    list-style-type: hex;
    list-style-position: inside;
    font-family: helvetica;
    text-align: left;
    padding: 0;
    width: 20em;
    margin: auto;
}

ul {
    list-style-type: ' └───── |';
    list-style-position: inside;
}

ul::marker {
    font-family: monospace;
}

ul>li {
    position: relative;
    left: -1.55em;
}

li::marker {
    font-size: larger;
    font-family: monospace;
}

a {
    color: var(--a_color);
}

a:hover {
    text-decoration: none;
}

.btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--button_color);
    background-color: var(--button_bg);
}

.light-theme {
    --body_bg: var(--green);
    --body_color: var(--black);
    --button_bg: var(--black);
    --button_color: var(--white);
    --h1_color: var(--blue);
    --h4_color: var(--red);
    --span_color: var(--body_color);
    --a_color: var(--body_color);
    --img_filter: none;
}

.dark-theme {
    --body_bg: var(--black);
    --body_color: var(--green);
    --button_bg: var(--white);
    --button_color: var(--black);
    --h1_color: var(--blue);
    --h4_color: var(--purple);
    --span_color: var(--body_color);
    --a_color: var(--body_color);
    --img_filter: invert();
}