/*  Lab 5 CSS  */

form {
    /* width: 25%; */
    width: max-content;
    margin: auto;
}

label[for="boxes"] {
    display: block;
    margin: 2px;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-bottom: none;
    padding: 10px 12px 10px 12px;
    color: grey;
}

fieldset {
    padding: 10px 12px 10px 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

input[type="submit"] {
    width: fit-content;
    margin: auto;
    margin-top: 2px;
}

div#output {
    width: 50%;
    margin: auto;
    margin-top: 1em;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
}

p {
    text-align: justify;
    text-justify: inter-word;
    margin: 16px;
    margin-bottom: 0;
}

input[type="button"] {
    position: relative;
    top: 2em;
}