:root {
    --debug: 2px groove rgb(192, 192, 192);
}

main {
    border: var(--debug);
}

fieldset {
    border: var(--debug);
    border-color: yellow;
    margin: unset;
    padding: unset;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    width: 70%;
    padding: 0.5em;
    margin: auto;
    margin-bottom: 0.6em;
}

fieldset>label,
fieldset>input {
    margin: 0.5em;
}

fieldset>label {
    flex: 0 0 7vb;
    width: 7vb;
    padding: 0.1em;
    margin-right: 0;
}

fieldset>input {
    flex: 1 0 30vb;
    margin-left: 0;
}

input[type="button"]:not([class="btn"]) {
    border-radius: 10px;
    border: none;
    box-shadow: none;
    background-color: rgb(80, 98, 255);
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
}

p {
    margin: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}