img[src*='svg'] {
    filter: invert();
}

h2 {
    margin-bottom: 0;
}

cite {
    margin-bottom: 1em;
    font-size: small;
}

.result {
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

.butterfly {
    color: orangered;
    display: inline-block;
    font-family: sans-serif;
}

#restore {
    display: none;
}

#list {
    text-align: justify;
    margin: auto;
    width: 600px;
}

/* Remove external sitenav */
ul.pager {
    display: none;
}