#container {
    z-index: 0;
}

.lightning {
    display: none;
    position: absolute;
    top: 50px;
    left: calc(50% - 480px);
    z-index: -2;
}

header>img {
    margin: auto;
}

p {
    color: #33FF66;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#top {
    z-index: 4;
}

#frame {
    width: 545px;
    height: 629px;
    background-image: url("img/frame.png");
    z-index: 2;
    overflow: hidden;
}

#pic_box {
    position: relative;
    left: 91px;
    top: 84px;
    width: 367px;
    height: 460px;
    z-index: 1;
    overflow: hidden;
}

.face {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 10;

}

.face:hover {
    /* border: 2px solid greenyellow; */
    opacity: 0.8;
}

#head {
    /* top: 0; */
    height: 172px;
    background-image: url(img/headsstrip.jpg);
}

#eyes {
    /* top: 0px; */
    height: 79px;
    background-image: url(img/eyesstrip.jpg);
}

#nose {
    height: 86px;
    background-image: url(img/nosesstrip.jpg);
}

#mouth {
    height: 117px;
    background-image: url(img/mouthsstrip.jpg);
}